PORT=3000
MONGODB_URI=mongodb://localhost:27017/ecommerce
JWT_USER_SECRET=change_me_user_secret
JWT_ADMIN_SECRET=change_me_admin_secret
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=adminpassword
SEED_ADMIN_NAME=Admin
